<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-climatiq-adapter.ZPM">
    <Module>
      <Name>iris-climatiq-adapter</Name>
      <Version>1.0.1</Version>
      <Description>An IRIS Interoperability adapter for using the Climatiq API</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.jrpereirajr.interop.adapter.climatiq.PKG"/>
    </Module>
  </Document>
</Export>
